/* About.scss */

.about-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 80%;
  height: 100%;
  align-items: center;
}

.about-text {
  flex: 1;
  min-width: 280px;
  justify-content: center;
  align-items: center;
}

.button-group {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.linkedin-button,
.resume-button {
  background-color: #0077b5;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.resume-button {
  background-color: #0a66c2;
}

.linkedin-button:hover,
.resume-button:hover {
  background-color: #005ea3;
}
