.contact-section {
  padding-top: 80px;
  padding-bottom: 2rem;
  text-align: center;
  color: #ffffff;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
  }

  .contact-form {
    padding: 1.5rem;
    width: 35%;
    transition: all 0.4s ease;
    cursor: pointer;
    text-align: left;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    label {
      font-weight: 600;
      display: flex;
      flex-direction: column;
      font-size: 0.95rem;
    }

    input,
    textarea {
      padding: 0.75rem;
      margin-top: 0.4rem;
      border-radius: 8px;
      border: none;
      font-family: inherit;
      font-size: 1rem;
    }

    button {
      background: #4ec9ae;
      color: black;
      border: none;
      border-radius: 8px;
      padding: 0.75rem;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}
.custom-alert {
  position: fixed;
  top: 100px;
  right: -400px;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  animation: slideIn 0.5s forwards;

  &.success {
    background-color: #28a745;
  }

  &.error {
    background-color: #dc3545;
  }
}

@keyframes slideIn {
  to {
    right: 20px;
  }
}
